:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --primary-green: #00c853;     
  --text-color: #333333;     
  --light-grey: #f5f5f5;
  --border-grey: #e0e0e0;     
  --secondary-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-grey); 
  color: var(--text-color);
  overflow-x: hidden; 
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--text-color);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
  font-weight: 500;
  color: var(--primary-green);
  text-decoration: none;
  transition: color 0.25s;
}
a:hover {
  color: #00a044;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.25s;
  box-shadow: none;
}

button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 200, 83, 0.5); 
}