# Node/Python
node_modules/
venv/
__pycache__/

# Env files
.env
*.env
*.local

# OS/Editor junk
.DS_Store
Thumbs.db
.vscode/

# Docker data
postgres_data/

# Logs
*.log

# Build artifacts
dist/
build/
